html{
    min-height:100%;/**/
    position:relative;/**/
}
main-content{
    padding-bottom:100px;/**/
}

body {
    background-image:url(../../images/backPlane.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*'Monotype Corsiva';*/
    font-size:large;
    height:100%;/**/
}
footer{
    height:20px;
    position:absolute;
    bottom:0;
    color:blue;
}
.menu-part {
    vertical-align:top;
    width: 250px;
    border-radius:0 10px 10px;
    padding-left:50px;
}
.content-part{
    width:100%;
}
.logo{
    text-align:center;
}
#digital_watch{
    color: red;
    font-size: xx-large;
    font-weight: bold;
    font-family:Consolas;
}
.btn-book{
    text-align:center;
    font-size:large;
    font-style:italic;
    
}
.list{
    height:300px;
    width:85%;
    vertical-align:bottom;
    margin:auto;
    overflow-y:scroll;
    background-color:grey;
    color:black;
}
.tb-div{
    width:100%;
    text-align:center;
}

.notify{
    text-align:center;
    color:yellow;
    font-style:italic;
}

.user-flight{

}
