<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  
<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
      <defaultDocument enabled="true">
        <files>
          <clear/>
          <add value="~/contentPages/FlightsPage.aspx"/>
        </files>
      </defaultDocument>
    </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <siteMap enabled="true">
        <providers>
          <add name="globalMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="siteMaps/GlobalSiteMap.sitemap"/>
          <add name="adminMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="siteMaps/AdminSiteMap.sitemap"/>
          <add name="logedMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="siteMaps/LogedMap.sitemap"/>
        </providers>
      </siteMap>
      <httpRuntime targetFramework="4.6" />
    </system.web>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
</appSettings>
  
</configuration>
